<!DOCTYPE html>
<html>
<head>
    <title>废钢装载监控系统</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div id="monitorImage"><h3>实时监控</h3>等待图像加载...</div>
    <div id="dangerImage"><h3>危险品检测</h3>等待图像加载...</div>
    <div id="pieChart"><h3>危险品比例</h3>等待图像加载...</div>
    <div id="scrapChart"><h3>废钢比例</h3>等待图像加载...</div>
    <div id="jsonDataContainer"><div id="jsonData"></div></div>
    <div id="jsonHistoryContainer"><div id="jsonHistory"></div></div>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
    <script src="static/js/image-monitors.js"></script>
</body>
</html>